.head1{
    text-align: center;
}
.page-content{
    width:100%;
}
.cont-1,.cont-2,.cont-3{
    border: 2px solid black;
    float:left;
    margin:10px;
    background-color: lightgrey;
    
}
.heading1{
    float:right;
    border-bottom:2px solid black;
    border-left:2px solid black;
    margin-top:0;
    padding:5px;
    background-color:lightpink;
    width:120px;
    text-align: center;
    
}
.heading2{
    float:right;
    border-bottom:2px solid black;
    border-left:2px solid black;
    margin-top:0;
    padding:5px;
    color: white;
    background-color: rgb(235, 99, 99);
    width:120px;
    text-align: center;
}
.heading3{
    float:right;
    border-bottom:2px solid black;
    border-left:2px solid black;
    margin-top:0;
    padding:5px;
    background-color: antiquewhite;
    width:120px;
    text-align: center;
}
.data{
    clear:right;
    padding:0px 10px 0px 10px;
}
@media screen and (max-width:767px){
    .cont-1,.cont-2,.cont-3{
        width:100%;
        align-content: center;
    }
}
@media (min-width:768px) and (max-width:991px){
    .cont-1,.cont-2{
        width:46%;
    }
    .cont-3{
        width:98%;
    }
}
@media (min-width:992px){
    .cont-1,.cont-2,.cont-3{
        width:30.50%;
    }
}

